<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/8d05e08a1e.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/styles.css">
      <style media="screen">
      body {

        background: #ff00cc;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #333399, #ff00cc);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #333399, #ff00cc);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      </style>
  </head>
  <body>
    <div class="container mt-5">
   <h1>Register</h1>

   <div class="row">
     <div class="col-sm-8">
       <div class="card">
         <div class="card-body">

           <!-- Makes POST request to /register route -->
           <form action="/register" method="POST">
             <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="username">
             </div>
             <div class="form-group">
               <label for="password">Password</label>
               <input type="password" class="form-control" name="password">
             </div>
             <button type="submit" class="btn btn-dark">Register</button>
           </form>

         </div>
       </div>
     </div>

     <div class="col-sm-4">
       <div class="card social-block">
         <div class="card-body">
           <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
             Sign Up with Google
           </a>
         </div>
       </div>
     </div>

   </div>
 </div>
  </body>
</html>
